{% macro form_field(field, help=None) %}
<div class="form-group{% if field.errors %} error {% endif %}">
  {{ field.label(class_='control-label') }}
  {{ field(class_='form-control') }}
</div>
{% endmacro %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hub</title>
    <link rel="stylesheet" href="../../static/css/foundation.min.css">
    <script src="../../static/js/foundation.min.js"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{url_for('index')}}">5C Food Finder</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          {% if user.is_authenticated() %}
          <li class="active"><a href = "{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li class="active"><a href = "{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Start finding food</a></li>
          {% endif %}
        </ul>

        <!-- Left Nav Section -->
      </section>
    </nav>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
