{% macro form_field(field, help=None) %}
<div class="form-group{% if field.errors %} error {% endif %}">
  {{ field.label(class_='control-label') }}
  {{ field(class_='form-control') }}
</div>
{% endmacro %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hub</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Hub</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            {% if user.is_authenticated %}
              <form method='POST' > 
                <button class="navbar-link" href = "{{ url_for('logout')}}">Logout</a>
            {% else %}
              <a class="navbar-link" href="{{ url_for('register') }}">Register New Team!</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
