{% extends "layout/base.html" %}

{% block content %}


{% if user.is_authenticated() %}
<h4 style="text-align:center"> Choose a category to find the best food options near you </h4>

{% for category in ['Mexican', 'American', 'Asian','Italian'] %}
<div class="row">
  <div class="small-4 small-centered columns">
  	<a href="{{ url_for('choice'+category) }}" class="button" style="width:300px">{{category}} Food</a>
  </div>
</div>
{% endfor %}

<div class="row">
  <div class="small-4 small-centered columns">
  	<a href="{{ url_for('choice') }}" class="button" style="width:300px">I'm up for anything</a>
  </div>
</div>

{% else %}
<h4> Please log in to recieve food recommendation</h4>
{% endif %}
{% endblock %}
